
.quiz {
	border: 1px solid black;
	padding: 20px;
}

.myQ {
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
}

.btnAns {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
	display: block; 
	font-size: 16px;
}

.btnAns:hover {
	background-color: coral;
}

// #output {
// 	background-color: purple;
// 	height: 100px;
// }